<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<link href="../Style/Globalstyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<img src="../Images/stripe-blue.jpg" name="bgpic" width="1000" height="850" id="bgpic" />
<div id="container">
  <div id="banner">
    <p class="Banner_Text"><img src="../Images/Dlogo-Transparent.png" width="250" height="186" /></p>
  </div>
  <div id="nav_bar">
    <table width=100% height="50" border="0">
      <tr>
      	<td class ="nav_text"><a href="../index.html"  style="text-decoration:none;" class="nav_text" >Home</a></td>
        <td class="nav_text">Product</td>
        <td class="nav_text">Service</td>
        <td class="nav_text">Feedback</td>
        <td class="nav_text">About Us</td>
        <td class="nav_text"><a href="../Contact.html" style="text-decoration:none" class="nav_text">Contact</a></td>
        
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
  <div id="maincontent"><!-- TemplateBeginEditable name="MainContent" -->
    <p>This is Mainbody Content</p>
  <!-- TemplateEndEditable --></div>
  <div id="footer"> Copyright &copy; 2016 Diazepam Cafe All Rights Reserved   </div>
</div>
</body>
</html>
